.sterling-autocomplete {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

.sterling-autocomplete-content {
  background-color: var(--stsv-common__background-color);
  border-color: var(--stsv-common__border-color);
  border-radius: 0;
  border-style: solid;
  border-width: var(--stsv-common__border-width);
  color: var(--stsv-common__color);
  filter: var(--stsv-common__drop-shadow);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-height: 350px;;
  overflow: hidden;
}
