.sterling-button:disabled {
  cursor: not-allowed;
  background-color: var(--stsv-button__background-color--disabled);
  border-color: var(--stsv-button__border-color--disabled);
  color: var(--stsv-button__color--disabled);
}