.sterling-dropdown.disabled {
  background-color: var(--stsv-input__background-color--disabled);
  border-color: var(--stsv-input__border-color--disabled);
  color: var(--stsv-input__color--disabled);
  cursor: not-allowed;
  outline: none;
}

.sterling-dropdown.disabled .button {
  cursor: not-allowed;
}