.sterling-input input:disabled {
  cursor: not-allowed;
  outline: none;
  background-color: var(--stsv-input__background-color--disabled);
  border-bottom-color: var(--stsv-input__border-color--disabled);
  color: var(--stsv-input__color--disabled);
}