.light-mode {

  /* ----- common ----- */

  --stsv-common__background-color: hsl(0, 0%, 100%);
  --stsv-common__border-color: hsl(0, 0%, 45%);
  --stsv-common__color: hsl(0, 0%, 15%);

  --stsv-common__outline-color: hsl(0, 0%, 15%);
  --stsv-common__outline-offset: 0;
  --stsv-common__outline-style: solid;
  --stsv-common__outline-width: 2px;

  --stsv-common--disabled__stripe-color: hsla(0, 0%, 0%, 0.2);
  --stsv-common--disabled__stripe-color--alt: hsla(0, 0%, 100%, 0.2);
  --stsv-common--disabled__stripe-angle: 135deg;
  --stsv-common--disabled__stripe-width: 3px;

  --stsv-common__box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
  --stsv-common__box-shadow--inset: inset 1px 1px 2px 0px hsl(0, 0%, 45%);

  --stsv-common__background-color--secondary: hsl(0, 0%, 92%);
  --stsv-common__color--secondary: hsl(0, 0%, 45%);
  --stsv-common__background-color--subtle: hsl(0, 0%, 96%);
  --stsv-common__color--subtle: hsl(0, 0%, 75%);
  --stsv-common__background-color--faint: hsl(0, 0%, 98%);
  --stsv-common__color--faint: hsl(0, 0%, 92%);

  --stsv-common__background-color--info: hsl(198, 100%, 90%);
  --stsv-common__border-color--info: hsl(198, 100%, 40%);
  --stsv-common__color--info: hsl(198, 100%, 40%);
  --stsv-common__background-color--success: hsl(146, 100%, 90%);
  --stsv-common__border-color--success: hsl(146, 100%, 30%);
  --stsv-common__color--success: hsl(146, 80%, 25%);
  --stsv-common__background-color--warning: hsl(39, 100%, 80%);
  --stsv-common__border-color--warning: hsl(39, 100%, 45%);
  --stsv-common__color--warning: hsl(39, 100%, 25%);
  --stsv-common__background-color--error: hsl(5, 100%, 90%);
  --stsv-common__border-color--error: hsl(5, 100%, 40%);
  --stsv-common__color--error: hsl(5, 80%, 40%);

  /* ----- button ----- */

  --stsv-button__background-color: hsl(0, 0%, 96%);
  --stsv-button__border-color: hsl(0, 0%, 45%);
  --stsv-button__color: hsl(0, 0%, 15%);

  --stsv-button__background-color--hover: hsl(0, 0%, 92%);
  --stsv-button__border-color--hover: hsl(0, 0%, 30%);
  --stsv-button__color--hover: hsl(0, 0%, 15%);

  --stsv-button__background-color--focus: hsl(0, 0%, 92%);
  --stsv-button__border-color--focus: hsl(0, 0%, 30%);
  --stsv-button__color--focus: hsl(0, 0%, 15%);

  --stsv-button__background-color--active: hsl(0, 0%, 85%);
  --stsv-button__border-color--active: hsl(0, 0%, 20%);
  --stsv-button__color--active: hsl(0, 0%, 12%);

  /* ----- input ----- */

  --stsv-input__background-color: hsl(0, 0%, 98%);
  --stsv-input__border-color: hsl(0, 0%, 60%);
  --stsv-input__color: hsl(0, 0%, 15%);

  --stsv-input__background-color--hover: hsl(0, 0%, 96%);
  --stsv-input__border-color--hover: hsl(0, 0%, 30%);
  --stsv-input__color--hover: hsl(0, 0%, 15%);

  --stsv-input__background-color--focus: hsl(0, 0%, 92%);
  --stsv-input__border-color--focus: hsl(0, 0%, 15%);
  --stsv-input__color--focus: hsl(0, 0%, 15%);

  --stsv-input__background-color--selected: hsl(0, 0%, 85%);
  --stsv-input__border-color--selected: hsl(0, 0%, 15%);
  --stsv-input__color--selected: hsl(0, 0%, 15%);
}
