.sterling-menu {
  background-color: var(--stsv-common__background-color);
  border-color: var(--stsv-common__border-color);
  border-radius: 0;
  border-style: solid;
  border-width: var(--stsv-common__border-width);
  box-sizing: border-box;
  filter: var(--stsv-common__drop-shadow);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: auto;
  padding: 0.25em;
}

.sterling-menu .menu-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: calc(2 * 2px);
}
