.sterling-menu-item {
  appearance: none;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: var(--stsv-common__color);
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: background-color 250ms, color 250ms, border-color 250ms;
  white-space: nowrap;
  user-select: none;
}

.sterling-menu-item:not(:disabled):hover {
  background-color: var(--stsv-button__background-color--hover);
  color: var(--stsv-button__color--hover);
}

.sterling-menu-item:not(:disabled):focus {
  background-color: var(--stsv-input__background-color--selected);
}

@media (prefers-reduced-motion) {
  .sterling-menu-item {
    transition: none;
  }
}
