.sterling-pagination button {
  align-content: center;
  align-items: center;
  appearance: none;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: var(--stsv-button__border-width);
  box-sizing: border-box;
  color: var(--stsv-button__color);
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font: inherit;
  justify-content: center;
  justify-items: center;
  column-gap: 0.25em;
  overflow: hidden;
  outline: none;
  padding: 0.5em 1em;
  padding: 0;
  text-decoration: none;
  text-overflow: ellipsis;
  transition:
    background-color 250ms,
    color 250ms,
    border-color 250ms;
  white-space: nowrap;
  user-select: none;
}

.sterling-pagination button:not(:disabled):hover {
  background-color: var(--stsv-button__background-color--hover);
  border-color: transparent;
  color: var(--stsv-button__color--hover);
}

.sterling-pagination button:not(:disabled):active {
  background-color: var(--stsv-button__background-color--active);
  border-color: transparent;
  color: var(--stsv-button__color--active);
}

.sterling-pagination button:not(:disabled):focus-visible {
  border-color: var(--stsv-button__border-color--focus);
}

.sterling-pagination button:disabled {
  cursor: not-allowed;
  position: relative;
  pointer-events: none;
  color: var(--stsv-common__color--faint);
}

@media (prefers-reduced-motion) {
  .sterling-pagination button {
    transition: none;
  }
}