.sterling-popover-2 {
  border: none;
  background-color: transparent;
  inset: auto;
  margin: 0;
  overflow: visible;
  padding: 0;
  transform: translate(var(--offset-x), var(--offset-y));
}

/* 
Setting position-anchor breaks invoker implicit anchoring 
CSS BUG - breaks anchoring with position-anchor: unset
*/
.sterling-popover-2.with-anchor {
  position-anchor: var(--anchor-ident);
}

.sterling-popover-2[data-anchor-origin^="top"] {
  bottom: anchor(top);
}

.sterling-popover-2[data-anchor-origin^="center"] {
  align-self: anchor-center;
}

.sterling-popover-2[data-anchor-origin^="bottom"] {
  top: anchor(bottom);
}

.sterling-popover-2[data-anchor-origin$="left"] {
  right: anchor(left);
}

.sterling-popover-2[data-anchor-origin$="center"] {
  justify-self: anchor-center;
}

.sterling-popover-2[data-anchor-origin$="right"] {
  left: anchor(right);
}

.sterling-popover-2 {
  overflow: visible;
  box-sizing: border-box;
}

.sterling-popover-2 > .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: stretch;
  place-content: stretch;
}