.sterling-radio.button {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
}

.sterling-radio.button:not(.disabled):hover {
  background-color: var(--stsv-button__background-color--hover);
}

.sterling-radio.button:not(.disabled):not(.checked):active {
		background-color: var(--stsv-button__background-color--active);
		border-color: transparent;
	}

	.sterling-radio.button.checked {
		background-color: var(--stsv-input__background-color--selected);
		border-color: transparent;
	}

	.sterling-radio.button.using-keyboard:focus-within {
		border-color: var(--stsv-button__border-color--focus);
		outline-color: var(--stsv-common__outline-color);
		outline-offset: 0;
		outline-style: solid;
		outline-width: 2px;
	}

.sterling-radio.button .container,
.sterling-radio.button label {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.sterling-radio.button .container {
  justify-self: stretch;
  align-self: stretch;
  margin-right: unset;
}

.sterling-radio.button input {
  appearance: initial;
  display: block;
  box-sizing: border-box;
  opacity: 0;
  width:100%;
  height: 100%;
  position: relative;
  justify-self: stretch;
  align-self: stretch;
}

.sterling-radio.button .indicator {
  display: none;
}


.sterling-radio.button.disabled {
  background-color: var(--stsv-input__background-color--disabled);
  border-color: transparent;
}

.sterling-radio.button.disabled > label {
  color: var(--stsv-common__color--disabled);
}
