.sterling-radio.button {
  background-color: var(--stsv-button__background-color);
  column-gap: unset;
  color: var(--stsv-button__color);
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-content: stretch;
  place-items: stretch;
  overflow: hidden;
  padding: 0.5em 1em;
  /* position:relative contains the input since container is removed from layout */
  position: relative;
  text-decoration: none;
  text-overflow: ellipsis;
  transition:
    background-color 250ms,
    color 250ms,
    border-color 250ms;
  white-space: nowrap;
  user-select: none;
}

.sterling-radio.button > * {
  grid-area: 1 / 1;
}

.sterling-radio.button:not(.disabled):hover {
  background-color: var(--stsv-button__background-color--hover);
}

.sterling-radio.button:not(.disabled):not(.checked):active {
  background-color: var(--stsv-button__background-color--active);
}

.sterling-radio.button:not(.disabled).checked {
  background-color: var(--stsv-input__background-color--selected);
}

.sterling-radio.button.using-keyboard:focus-within {
  outline-color: var(--stsv-common__outline-color);
  outline-offset: 0;
  outline-style: solid;
  outline-width: 2px;
}

.sterling-radio.button label {
  display: block;
  position: relative; /* important to the label being on top */
}

.sterling-radio.button .indicator {
  display: none;
}

.sterling-radio.button.disabled,
.sterling-radio.button.disabled:hover,
.sterling-radio.button.disabled:active,
.sterling-radio.button.disabled:focus-visible {
  cursor: not-allowed;
  background-color: var(--stsv-button__background-color--disabled);
  color: var(--stsv-button__color--disabled);
}

.sterling-radio.button.checked.disabled,
.sterling-radio.button.checked.disabled:hover,
.sterling-radio.button.checked.disabled:active,
.sterling-radio.button.checked.disabled:focus-visible {
  background-color: var(--stsv-input__background-color--selected);
}

.sterling-radio.button.disabled label {
  color: var(--stsv-common__color--disabled);
}
