.sterling-slider.sterling-slider.disabled .track {
  background: var(--stsv-common__background-color--disabled);

}

.sterling-slider.disabled .thumb {
  cursor: not-allowed;
  outline: none;
}

.sterling-slider.disabled .thumb {
  background-color: var(--stsv-button__background-color--disabled);
  border-color: var(--stsv-button__border-color--disabled);
  color: var(--stsv-button__color--disabled);
}
