.sterling-switch.disabled {
  color: var(--stsv-common__color--disabled);
}
.sterling-switch.disabled .toggle {
  background-color: var(--stsv-input__background-color--disabled);
  border-color: var(--stsv-input__border-color--disabled);
  color: var(--stsv-input__color--disabled);
}

.sterling-switch.disabled input {
  color: var(--stsv-common__color--disabled);
  cursor: not-allowed;
}

.sterling-switch.disabled .thumb {
  background-color: var(--stsv-button__background-color--disabled);
  border-color: var(--stsv-button__border-color--disabled);
  color: var(--stsv-button__color--disabled);
}