.sterling-tab:disabled {
  cursor: not-allowed;
  outline: none;
  /* background-color: var(--stsv-common__background-color--disabled); */
  color: var(--stsv-common__color--disabled);

}

.sterling-tab:disabled.selected .indicator {
  background-color: var(--stsv-input__border-color--disabled);
}