.sterling-tree.disabled {
  cursor: not-allowed;
  background-color: var(--stsv-common__background-color--disabled);
  border-color: var(--stsv-common__border-color--disabled);
  color: var(--stsv-common__color--disabled);
}