.sterling-tree-item.disabled > .item {
  cursor: not-allowed;
  outline: none;
  color: var(--stsv-input__color--disabled);
}

.sterling-tree-item.disabled.selected > .item {
  background-color: var(--stsv-button__background-color--active);
}