.sterling-callout.inverted {
  background-color: var(--colorNeutralBackgroundStatic);
  color: var(--colorNeutralForegroundStaticInverted);
}

.sterling-callout.brand {
  background-color: var(--colorBrandBackground);
  color: var(--colorNeutralForegroundOnBrand);
}
